.App {
  background: antiquewhite;
}

h3 {
  font-size: 40px;
  text-align: center;
}

.index ul{
  list-style: none;
  .notebook{
    font-size: 15px;
    display: inline-block;
    width: 200px;
    height: 300px;
    line-height: 300px;
    margin: 20px;
    text-align: center;
    background-color: orange;
  }
}

.newNote{
  text-align: center;
}
